appnope>=0.1.0
bleach>=1.5.0
cycler>=0.10.0
decorator>=4.1.2
graphviz>=0.4.10
html5lib>=0.9999999
ipykernel>=4.6.1
ipython>=6.2.0
ipython-genutils>=0.2.0
ipywidgets>=7.0.1
jedi>=0.10.2
Jinja2>=2.9.6
jsonschema>=2.6.0
jupyter>=1.0.0
jupyter-client>=5.1.0
jupyter-console>=5.2.0
jupyter-core>=4.3.0
Markdown>=2.6.9
MarkupSafe>=1.0
matplotlib>=2.0.2
mistune>=0.7.4
mpld3>=0.3
nbconvert>=4.3.0
nbformat>=4.4.0
nltk>=3.4.5
notebook>=5.1.0
numpy>=1.18.5
pandas>=0.23.4
pandocfilters>=1.4.1
parso>=0.1.0
pexpect>=4.2.1
pickleshare>=0.7.4
prompt-toolkit>=1.0.15
protobuf>=3.9.1
Pygments>=2.2.0
pyparsing>=2.2.0
python-crfsuite>=0.9.5
pytz>=2017.2
qtconsole>=4.3.1
rise>=5.0.0
scikit-learn>=0.23.1
scipy>=1.4.1
simplegeneric>=0.8.1
six>=1.15.0
spacy>=2.1.8
tensorflow>=2.2.0
testpath>=0.3.1
torch>=1.5.0
tornado>=4.5.2
traitlets>=4.3.2
transformers>=2.11.0
wcwidth>=0.1.7
webencodings>=0.5
Werkzeug>=0.12.2
widgetsnbextension>=3.0.3
git+git://github.com/robjstan/tikzmagic.git
