.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.container {
    width: 800px;
}
.topbar {
    margin-right: auto;
    margin-left: auto;
    /*width: 800px;*/
    /*background-color: #f5f5f5;*/
    position: relative;
}
.alertDiv {
    /*display: inline-block;*/
    margin: 0 auto;
    z-index: 10;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.alert {
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 100;
    display: inline-block;
    /*display: none;*/
}
.cell {
    position: relative !important;
    width: 100%;
    overflow: hidden;
    padding: 1px;
}
.light-border {
    border: 1px solid #F0F0F0;
}
.cellWrapper {
    position: relative !important;
    width: 100%;
    overflow: hidden;
}
textarea {
    font-size: 12pt;
    font-family: Lucida Console;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}
.editorBody {
    padding: 80px 15px;
    text-align: center;
}
.edit-btn {
  /* background-color: transparent; */
  /* color: #000000; */
}
.divDialogElements input {
    font-size: 18px;
    padding: 3px;
    height: 32px;
    width: 500px;
}
.dirCell {
    border: 1px solid lightgray;
    padding: 25px;
}
.editor {
  float:left;
  width: calc(100% - 80px)
}
.runButton {
  width:50px;
  float:right;
}
.string-result {
  margin-left: 15px;
  margin-bottom: 15px;
  font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  font-size: 13px;
  clear:left;
  max-width: 650px;
}

.string-result blockquote {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.string-result .error {
  margin: 0px;
  color: #d9534f;
  background-color: #fff;
  border: 1px solid #d9534f;
  border-radius: 0.25em;
  font-size: 75%;
  display: block;
  padding: 5px;
}
hr {
  /* border-top: 1px dotted #ddd;
  color: #fff;
  background-color: #fff;*/
  height: 1px;
  width:100%;
  margin: 2px;
}
h5.section {
  margin-bottom: 2px;
}

.cell pre {
  padding: 0px;
}
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 40px;
  background-color: #f5f5f5;
}

svg.barchart {
    overflow:visible;
}

.barchart .bar {
    fill:#330066;
}

.barchart .barlabel {
    fill: #982;
}

/* Term rendering */
.term .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.term .node text { font: 12px sans-serif; }

.term .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

/* Matrix rendering */

.matrix .hruler {
    stroke: black;
}

.matrix .vruler {
    stroke: black;
}

.matrix text {
    font-size: 26px;
    alignment-baseline: middle;

}

.matrix .cell {
    text-anchor: middle;
}

.matrix .box {
    fill: none;
    stroke: black;
}

svg.matrix {
    //width: 10px;
}

/* This sets the color for "TK" nodes to a light blue green. */
g.terminal > rect {
  fill: #00ffd0;
}

text {
  font-weight: 300;
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}
