.emphasize {
    font-weight: bold;
    font-size: 120%;
}

.dontpresent {
    opacity: 0.05;
    /*visibility: hidden;*/
}

.dontpresent:hover {
    opacity: 0.8;
    /*visibility: hidden;*/
}

.summary {
    display: inline;
    /*margin-bottom: 50%;*/
}

.newslide {
    margin-bottom: 90%;
}

.string-result {
    font-size: 20px;
}

.fieldValue {
    font-size: 20px;
}

.fieldName {
    font-size: 20px;
}

.field {
    font-size: 20px;
}

.aligner text {
    font-size: 20px;
}

.slideStart {
    padding-top: 5%;
    /*height:5%;*/
    /*width:100%;*/
    /*clear:both;*/
    /*margin-bottom: 5%;*/
}

p, li, code, .exercise {
    font-size: 45px;
}

blockquote p {
    font-size: 35px !important;
}

.MathJax {
    /*font-size: 10px !important;;*/
}

.String {
    font-size: 20px;
}

h4 {
    font-size: 250%;
}

h3 {
    font-size: 300%;
}

section h1 {
    font-size: 500%;
}

body {
    /*-moz-transform: scale(2.0, 2.0); /!* Moz-browsers *!/*/
    /*zoom: 2.0; /!* Other non-webkit browsers *!/*/
    /*zoom: 100%; /!* Webkit browsers *!/*/
    /*transform: scale(1.5);*/
    /*transform-origin: top;*/
}

#viewport {
    width: 100%;
    height: 60%;
    position: fixed;
    top: 20%;
    left: 0;
    /*border: 1px;*/
    /*background-color: yellow;*/
    overflow: scroll;
}

.ace_editor {
    font-size: 19px;
}

.grid {
    max-width: 1200px !important;
}